<%- include("header") -%>

<div class="head1" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box1">

    <% for(var i=0;i<newlistItems.length;i++) {%>
    <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%=newlistItems[i]._id%>">
            <p> <%= newlistItems[i].name %> </p>
        </div>
        <input type="hidden" name="listName1" value="<%= listTitle %>">
    </form>
    <% } %>



    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" value="" autocomplete="off">

        <button type="submit" name="list" class="button-29" value="<%= listTitle %>">+</button>
    </form>

</div>

<form action="/reset" method="post">

            <button type="submit" name="list" class="button-29">reset!</button>
    </form>
    <%- include("footer") -%>